.idea

# server 
# python compiled
server/.venv/
*.pyc
__pycache__
# env file
server/.env
# db instance
*.db
# migrations folder
server/migrations

# client 
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

client/node_modules
client/dist
client/dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?